body {
	background-color: black;
	width: 100%;
	height: 100%;
}

h1 {
	color: white;
	margin-left: 20px;
}

h2 {
	color: green;
	margin-left: 30px;
}

#post {
	position: absolute;
	top: 20%;
	bottom: 20%;
	left: 40px;
	right: 0px;
	overflow: auto;
	margin: 0;
}

#post p{
	color: orange;
	font-size: 3vmin;
}

.input-group {
	position: absolute;
	bottom: 0px;
}
